.container {
  display: grid;
  grid-template-areas: 
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list';
}

.search-bar{
  grid-area: search-bar;
  background-color: #ffffff;
}
.video-player{
  grid-area: video-player;
  background-color: #e4e4e4;
}

.video-list{
  grid-area: video-list;
  background-color: #f9f9f9;
  padding: 20px;
}

.video-title {
  font-weight: bold;
  padding: 20px;
}

.video-description {
  padding: 10px;
}